$root-fs: 10px !default;
$base-fs: 2rem !default;
$base-fw: 300 !default;
$base-ff: "Entropia", sans-serif !default;
$base-trn: all 0.25s ease 0s !default;

$base-color: #000000;
$main-color: #333333;
$color-1: #ffffff;

$accent-color: $main-color;
$bg-selection-color: $main-color;
$text-selection-color: $color-1;
$link: $base-color;
