extends sample/_default

block tools 
	include utils/_mixins

block title
	title Главная

block main
	section.block.block-intro
		.block-intro__grid 
			.block-intro__item.block-intro__item-1 
				img.block-intro__image.icon(src="./img/intro/img1.png" alt="")
				h2.main-title.is-custom-text-2.block-intro__item-text Объединяем напитками, согреваем едой
			.block-intro__item.block-intro__item-2 
				img.block-intro__image.icon(src="./img/intro/img2.png" alt="")
			.block-intro__item.block-intro__item-3 
				p.text Сидрерия — это место, где уют и забота окутывает со всех сторон. Великолепная европейская кухня 
				a.btn.btn-outline(href="#")
					span забронировать столик

	section.block.block-special
		.container 
			.heading 
				h3.title.is-custom-text-1 <i>Специальные</i> предложения
				.slider__btns 
					button.slider__btn.slider__btn-prev(type="button")
						img.icon(src="./img/icons/arrow.png" alt="")
					button.slider__btn.slider__btn-next(type="button")
						img.icon(src="./img/icons/arrow-r.png" alt="")
			.block__slider 
				.swiper 
					.swiper-wrapper
						-for(var i = 0; i < 3; i++)
							.swiper-slide
								a.block__slide(href="#") 
									img.icon(src="./img/special/img1.png" alt="")
									p.block__slide-text.is-custom-text-1 28.02-05.03
							.swiper-slide 
								a.block__slide(href="#")
									img.icon(src="./img/special/img2.png" alt="")
									p.block__slide-text.is-custom-text-1 03.03-04.05
							.swiper-slide
								a.block__slide(href="#")
									img.icon(src="./img/special/img3.png" alt="")
									p.block__slide-text.is-custom-text-1 04.03-12.03
							.swiper-slide
								a.block__slide(href="#")
									img.icon(src="./img/special/img4.png" alt="")
									p.block__slide-text.is-custom-text-1 12.03-15.03

	section.block.block-about 
		.container 
			.block-about__grid 
				.block-about__image 
					img.block-about__image-main.icon(src="./img/about/img1.png" alt="")
					span.block-about__image-elem.block-about__image-elem-1
					span.block-about__image-elem.block-about__image-elem-2
					span.block-about__image-elem.block-about__image-elem-3
					span.block-about__image-elem.block-about__image-elem-4
					img.block-about__image-dec.block-about__image-dec-1.icon(src="./img/about/lips.png" alt="")
				.block-about__content
					h3.title.is-custom-text-1 Сидерия -<br>новый гастробар,<br>где живет <i>уют и забота</i>
					.content.text
						p Сидрерия — это место, где уют и забота окутывает со всех сторон. Великолепная европейская кухня от нашего замечательного шеф-повара не оставит равнодушным ни кого и найдет положительный отклик у самого взыскательного и требовательного гостя.
					.block-about__blocks.text
						.block-about__blocks-item.block-about__blocks-item-1 
							img.icon(src="./img/about/img2.png" alt="")
							p Мы очень постарались и  собрали самый большой и вкусный ассортимент сидров во всем Сочи. Представлена широкая линейка сидров из России, Испании, Франции
						.block-about__blocks-item.block-about__blocks-item-2 
							img.icon(src="./img/about/img3.png" alt="")
							p Сидрерия — это не только про сидр, это про великолепную кухню с широким ассортиментом всевозможных закусок с вяленым мясом собственного производства. Брускетты, тапосы, салаты, мясо на мангале, ребра, рыба и много другое

	section.block.block-booking 
		.block-booking__wrapper 
			img.icon(src="./img/booking/bg-image.png" alt="")
			.container 
				a.btn.btn-blur(href="#") забронировать столик

	section.block.block-events
		.container
			.heading 
				h3.title.is-custom-text-1 Новые события каждую<br>неделю - <i>все для Вас</i>
				.slider__btns 
					button.slider__btn.slider__btn-prev(type="button")
						img.icon(src="./img/icons/arrow.png" alt="")
					button.slider__btn.slider__btn-next(type="button")
						img.icon(src="./img/icons/arrow-r.png" alt="")
			.block__slider 
				.swiper 
					.swiper-wrapper
						-for(var i = 0; i < 3; i++)
							.swiper-slide
								a.block__slide(href="#") 
									img.icon(src="./img/events/img1.png" alt="")
									p.block__slide-text.is-custom-text-1 пятница 28.02
							.swiper-slide 
								a.block__slide(href="#") 
									img.icon(src="./img/events/img2.png" alt="")
									p.block__slide-text.is-custom-text-1 понедельник 03.03
							.swiper-slide
								a.block__slide(href="#") 
									img.icon(src="./img/events/img3.png" alt="")
									p.block__slide-text.is-custom-text-1 пятница 08.04
							.swiper-slide
								a.block__slide(href="#") 
									img.icon(src="./img/events/img4.png" alt="")
									p.block__slide-text.is-custom-text-1 четверг 12.06

	//- TODO: Доверстать блок
	section.block.block-birthday 
		.block-birthday__box 
			.container
				h2.block-birthday__title.title.is-custom-text-1 День рождения -<br>лучше с нами
				.block-birthday__content-box-1
					.content.text
						p Отпразднуйте свой день рождения в Сидерии. Мы приготовим праздничный стол, организуем лучшие напитки, развлечем ваших гостей и обслужим по высшему классу
						p Незабываемый праздник гарантирован для вас и ваших близких
					a.btn.btn-primary(href="#") узнать подробнее
			.block-birthday__image.block-birthday__image-1
				img.icon(src="./img/birthday/img1.png" alt="")
			.block-birthday__image.block-birthday__image-2
				img.icon(src="./img/birthday/img2.png" alt="")
			img.icon.block-birthday__dec.block-birthday__dec-1(src="./img/birthday/decorations/img1-1.png" alt="")
			img.icon.block-birthday__dec.block-birthday__dec-2(src="./img/birthday/decorations/img1.png" alt="")
			img.icon.block-birthday__dec.block-birthday__dec-3(src="./img/birthday/decorations/img2.png" alt="")
			img.icon.block-birthday__dec.block-birthday__dec-4(src="./img/birthday/decorations/img3.png" alt="")
			img.icon.block-birthday__dec.block-birthday__dec-5(src="./img/birthday/decorations/img4.png" alt="")
			img.icon.block-birthday__dec.block-birthday__dec-6(src="./img/birthday/decorations/img5.png" alt="")
			img.icon.block-birthday__dec.block-birthday__dec-7(src="./img/birthday/decorations/img6.png" alt="")
			.block-birthday__decor-block-1 
				p.text Лучший праздник - праздник, который вы встретили с нами 
				h3.title.is-custom-text-4 Праздник с Сидерией
				img.icon.block-birthday__dec.block-birthday__dec-8(src="./img/birthday/decorations/img7.png" alt="")
				img.icon.block-birthday__dec.block-birthday__dec-9(src="./img/birthday/decorations/img8.png" alt="") 
			.container
				.block-birthday__decor-block-2
					h3.title.is-custom-text-1 Проводим лучшие корпоративы для вас и ваших <i>коллег</i>
					p.text Затеяли корпоратив? Сидерия устроит настоящий праздник, с поводом и без
					a.btn.btn-primary(href="#") узнать подробнее
					img.icon.block-birthday__dec.block-birthday__dec-10(src="./img/birthday/decorations/img11.png" alt="")
			.block-birthday__decor-block-3
				.block-birthday__dec.block-birthday__dec-11 
					img.icon(src="./img/birthday/img3.png" alt="") 
				.block-birthday__decor-block-images
					img.icon(src="./img/birthday/img4.png", alt="")
					img.icon(src="./img/birthday/img5.png", alt="")

	section.block.block-menu 
		.container 
			.block-menu__grid-box 
				.block-menu__content 
					h3.title.is-custom-text-1 Наше меню - <i>сердце</i> нашего гастробара
					p.text В первую очередь, гастробар - это еда и напитки, мы сделали все возможное и невозможное, чтобы вы остались довольны
				.block-menu__list-box
					ul 
						li 
							a(href="#") 
								p.is-custom-text-1 Карта сидоров 
								img.icon(src="./img/icons/arr-r-grey.png" alt="")
						li 
							a(href="#") 
								p.is-custom-text-1 Карта бара
								img.icon(src="./img/icons/arr-r-grey.png" alt="")
						li 
							a(href="#") 
								p.is-custom-text-1 Меню ресторана
								img.icon(src="./img/icons/arr-r-grey.png" alt="")

			.block-menu__panel
				.block-menu__panel-content 
					h3.title.is-custom-text-4 Любим своих гостей и<br>прислушиваемся <i>к каждому слову</i>
					p.text У вас есть вопросы или предложения для нашего гастробару? Напишите нашему управляющему и обсудите все с ним
				a.btn.btn-primary(href="#")
					span написать письмо

	section.block.block-team 
		.container 
			.block-team__grid 
				.block-team__item.block-team__item--is-left 
					.block-team__item-content-box
						h3.main-title.is-custom-text-1 Наша команда -
						p.text Команда - сердце корабля, в нашем случае, корабль - наш гастробар
					.block-team__wrap-image
						p.text.is-custom-text-1 <span>Михаил</span><span>Шеф-повар</span>
						.block-team__image-box
							img.icon(src="./img/team/img1.png" alt="")

				.block-team__item.block-team__item--is-right 
					.block-team__item-content.text
						p Остальные сотрудники еще готовятся к фотосессии
						p мы добавим их чуть позже, не переживайте
					.block-team__wrap-image
						p.text.is-custom-text-1 <span>Аня</span><span>Администратор</span>
						.block-team__image-box
							img.icon(src="./img/team/img2.png" alt="")

	section.block.block-gallery
		.container 
			h2.title.is-custom-text-1 Фотогаллерая нас, нашего гастробара, блюд, напитков и прекрасных гостей
		.block-gallery__grid
			-for(let i = 1; i <= 12; i++)
				div(class=`block-gallery__item block-gallery__item-${i}` style=`grid-area: a${i};`)
					img.icon(src=`./img/gallery/img${i}.png`, alt="")

	section.block.block-contacts 
		.container 
			.block-contacts__grid 
				.block-contacts__info-box 
					.block-contacts__info-title.title.is-custom-text-3 Ждем вас с нетерпением<br><i>и сидором</i>
					.block-contacts__list 
						ul 
							li 
								a(href="tel:8 800 245 89-49") 8 800 245 89-49
							li 
								p.is-custom-text-4 Сочи, Адлер, РЦ Бестужева 1/1, "Мандарин"
							li 
								p.is-custom-text-4 Ежедневно: 11:00 - 02:00
							li 
								a(href="#") 
									p.is-custom-text-4 Написать в Telegram
									img.icon(src="./img/icons/arr-r.png" alt="")
							li 
								a(href="#") 
									p.is-custom-text-4 Написать на WhatsApp
									img.icon(src="./img/icons/arr-r.png" alt="")
			.block-contacts__image 
				img.icon(src="./img/form/img1.png" alt="")
