header.header 
	.container 
		.header-inner
			.header__image 
				img.icon(src="./img/header/elem4.png", alt="")
			nav.header__nav 
				ul 
					li 
						a(href="#") о нас
					li 
						a(href="#") день рождения
					li 
						a(href="#") афиша
					li 
						a(href="#") корпоратив

			a.header__logo(href="index.html") 
				img.icon(src="img/logo.png" alt="")
			nav.header__nav
				ul 
					li 
						a(href="#") меню
					li 
						a(href="#") фотограллерея
				address 
					a(href="tel:88002458949") 8 800 245 89-49